* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: mediumslateblue; */
    color: lightblue;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

form button {
    color: lightblue;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 0.5rem;
}

form button:hover {
    background: lightblue;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 80%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: lightgray;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.complete-btn {
    color: white;
    /* background: rgb(73, 204, 73); */
    background: lightblue;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}


.todo-item {
    padding: 0rem 0.5rem;
}

.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

.clear-todos {
    color: lightcoral;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}