* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: lightblue;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    flex-direction: column;
}

header,
div.todo-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.todo-form input {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 2rem;
    width: 80%;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 80%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: lightgray;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.complete-btn {
    color: white;
    background: lightblue;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}


.todo-item {
    padding: 0rem 0.5rem;
}

.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

.clear-todos {
    color: lightcoral;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.clear-todos-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.page-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
}

.page-pass::before {
    content: "o"
}

.page-curr::before {
    color: black;
    content: "x"
}
